#container {
  position: relative;
  width: 50%;
  height: 80vh;
  border: 5px solid #000;
  margin: auto;
}
#title {
  font-size: 50px;
  margin-left: 50px;
}

#score-text {
  text-align: center;
  font-size: 48px;
}
